<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"> <%= section_title %> </p>
    <% if hide_completed %>
       <p class="TodoSectionTitle-remainingCount"> <%= todos.count %> </p>
    <% else %>
       <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %> </p>
    <% end %>
  </div>
  <ul>
    <% todos.all.each do |todo| %>
        <li class="TodoItem">
            <div class="TodoItem-container">
                <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                    <%= check_box_tag("completed",
                          value = "completed",
                          checked = todo.completed ,
                          class: "TodoItem-checkbox",
                          onclick: "this.form.submit()")
                    %>
                <% end %>
                <p class=<%= todo.completed ? "TodoItem-cutWord" : "" %>> <%= todo.todo_text %> </p>
                <% if show_due_date %>
                    <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
                <% end %>
                <a href="javascript:void(0)" class="TodoItem-delete">
                  <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                    <%= image_submit_tag("trashcan.png", class: "TodoItem-deleteIcon", alt: "Trash Can") %>
                  <% end %>
                </a>
            </div>
        </li>
    <% end %>
  </ul>
</section>
